# Xcode
##
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate
*.xcscmblueprint
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.xcworkspace/xcshareddata/*.xccheckout
*.xcworkspace/xcshareddata/*.xcscmblueprint

# Swift Package Manager
##
.build/
Examples/Crossmint-Demo/build/*
Packages/
Package.resolved
.swiftpm/xcode/xcuserdata/*

# Other
##
*.generated.swift
.env
.env.*
*.mobileprovision
*.cer
*.p12
*.key
*.log
.idea/

# Claude
.claude/