name: Swift

on:
  pull_request:
        types:
            - opened
            - synchronize
            - ready_for_review
            - converted_to_draft
  push:
      branches:
          - main

env:
  DEVELOPER_DIR: /Applications/Xcode_16.4.app/Contents/Developer

jobs:
  build:
    name: Build and Test
    runs-on: macos-15
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Xcode
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '16.4'
    
    - name: Cache SPM packages
      uses: actions/cache@v4
      with:
        path: .build
        key: ${{ runner.os }}-spm-${{ hashFiles('Package.resolved') }}
        restore-keys: |
          ${{ runner.os }}-spm-
    
    - name: Build & run tests
      run: |
        make ci-test
    
    - name: Run SwiftLint
      run: make lint
    
    - name: Upload Test Results
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: test-results
        path: |
          TestResults.xcresult
          test_results.xml